<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Shoe Shelf</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {{#if isLoggedIn}}
                <li>
                    <a href="/shoes/create">Create new offer</a>
                </li>
                <li>
                    <a href="/shoes/all">
                        <img src="/sneakers.png" alt="">
                    </a>
                </li>
                <li>Welcome, {{fullName}} |
                    <a href="/user/logout">Logout</a>
                </li>
                {{else}}
                <li class="site-logo">Shoe</li>
                <li>
                    <a href="/home">
                        <img src="/sneakers.png" alt="">
                    </a>
                </li>
                <li class="site-logo">Shelf</li>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}
    <footer>
        <p><a href="https://softuni.bg">Software University</a> - JS Back End @ 2020</p>
    </footer>
</body>

</html>